:root {

  --bg-header: rgb(255, 195, 0);

  --clr-header: rgb(0, 60, 255);

  /* --clr-header: whitesmoke; */
}

.container-header {
  height: 60px;
  width: 100%;
}

.Header {
  align-items: center;
  background-color: var(--bg-header);
  color: var(--clr-header);
  display: flex;
  height: 60px;
  justify-content: space-around;
  margin-bottom: 20px;
}

.IconCart {
  align-items: center;
  display: flex;
}

.icon-cart {
  color: var(--clr-header);
  height: 30px;
  width: 50px;
}

.linkHome {
  color: var(--clr-header);
  text-decoration: none;
}
