:root {

  /* <---------- Backgrounds ----------> */

  --bg-page: rgba(255, 195, 0, 0.2);

  --bg-header: rgb(255, 195, 0);

  --bg-button-add-to-cart: rgb(255, 195, 0);

  --bg-card-product: rgba(255, 255, 255, 0.5);

  /* <---------- Shadows ----------> */

  --sh-button-add-to-cart: rgb(223, 171, 0);

  --sg-card-product: 5px 5px 15px rgba(0, 0, 0, 0.3);

  /* <---------- Colors ----------> */

  --clr-white: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-page);
}

.container-home {
  display: flex;
  flex-direction: column;
}

.container-search {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 5px 10px 20px;
}

.container-content {
  display: flex;
  margin: 10px;
  width: 100%;
}

.container-products {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
}

.products-screen {
  height: 500px;
  width: 500px;
}

.imagemProdutos {
  border-radius: 50%;
  height: 150px;
  margin-bottom: 20px;
  width: 150px;
}

.titleProduct {
  margin-bottom: 50px;
  max-height: 50px;
}

.product {
  background-color: var(--bg-card-product);
  border-radius: 10px;
  box-shadow: var(--sg-card-product);
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-between;
  margin: 20px;
  padding: 10px;
  text-align: center;
  width: 250px;
}

/* <----------------- Botão compra -----------------> */
.cssbuttons-io-button {
  align-items: center;
  background: var(--bg-button-add-to-cart);
  border: none;
  border-radius: 0.9em;
  box-shadow: inset 0 0 1.6em -0.6em var(--sh-button-add-to-cart);
  color: var(--clr-white);
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: 17px;
  font-weight: 500;
  height: 2.8em;
  letter-spacing: 0.05em;
  overflow: hidden;
  padding: 0.35em;
  padding-left: 1.2em;
  padding-right: 3.3em;
  position: relative;
}

.cssbuttons-io-button .icon {
  align-items: center;
  background: var(--clr-white);
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em var(--sh-button-add-to-cart);
  display: flex;
  height: 2.2em;
  justify-content: center;
  margin-left: 1em;
  position: absolute;
  right: 0.3em;
  transition: all 0.3s;
  width: 2.2em;
}

.icon-add-to-cart {
  font-size: 1.5rem;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  color: var(--bg-button-add-to-cart);
  transition: transform 0.3s;
  width: 1.1em;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}


.product:hover, .product:focus {
  transform: scale(1.08);
  transition: 0.5s;
}

.input-search {
  border-radius: 10px;
  height: 30px;
  padding: 5px 10px;
  width: 30%;
}

.button-search {
  border-radius: 10px;
  height: 30px;
  margin-left: 10px;
  width: 130px;
}

.text-default {
  text-align: center;
  width: 100%;
}

.container-category {
  margin: 10px;
}
