:root {
  --clr-destak: rgb(0, 60, 255);

  --bg-page: rgba(255, 195, 0, 0.2);

  --bg-header: rgb(255, 195, 0);

  --bg-button-add-to-cart: rgb(255, 195, 0);

  --bg-card-product: rgba(255, 255, 255, 0.5);

  /* <---------- Shadows ----------> */

  --sh-button-add-to-cart: rgb(223, 171, 0);

  --sg-card-product: 5px 5px 15px rgba(0, 0, 0, 0.3);

  /* <---------- Colors ----------> */

  --clr-white: white;
}

.container-product-detail {
  /* align-items: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto;
  min-width: 600px;
  max-width: 1000px;
}

.container-price {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.price {
  color: var(--clr-destak);
  font-size: 1.8rem;
  font-weight: 700;
  margin: 5px;
}

.product-details {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  width: 75%;
}

.container-form {
  margin: 10px;
  width: 45%;
}

.product-img {
  width: 180px;
}

.flex {
  display: flex;
}

.flex__col {
  display: flex;
  flex-direction: column;
}

input[type="email"] {
  border: 1px solid rgba(0, 0, 0, 0.45);
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
  width: 100%;
}

textarea {
  border: 1px solid rgba(0, 0, 0, 0.45);
  border-radius: 5px;
  font-family: Figtree, sans-serif;
  height: 100px;
  margin: 10px 0;
  padding: 5px;
  resize: none;
  width: 100%;
}

button {
  padding: 10px 40px;
}

.nota__avaliacao {
  margin: -5px 0 10px 0;
}

.nota__avaliacao__input {
  margin-right: 20px;
}
